.contact-container {
    background: #f4ede4;
    padding-top: 40px;

    .container{
        text-align: center;
    }

    h3 {
        background: #1b1b1b;
        color: #fff;
        text-align: center;
        font-size: 18px;
        margin: 0;
    }
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1b1b1b;
    border: none;
    height: auto;

}

@media screen and (max-width: 450px) {
    .contact-container {
        h3 {
            font-size: 12px;
        }
    }

    .icons .btn {
        height: 40px;
        width: 40px;
        background-size: 20px !important;
    }
}