
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #ebeaeb;
    color: #1b1b1b;
    margin: 0 30px;
    padding: 20px 0;
    p.copyright {
        color: #454245;
        padding: 0 10px;
        margin: 0;
    }
}
