<h2 class="header" mat-dialog-title>Power BI</h2>
<mat-dialog-content>
    <p>Power BI is a business analytics service provided by Microsoft that allows users to analyze and visualize data
        from a wide range of sources, including spreadsheets, databases, and cloud-based services. It provides a suite
        of tools that enables users to create reports, dashboards, and data visualizations that can be shared and
        collaborated on with others in real-time.</p>

    <h3>Some key features of Power BI include:</h3>
    <ol>
        <li>
            <p>
                Data visualization: Power BI provides a variety of visualizations to help users analyze and understand
                their data, including bar charts, line charts, pie charts, and more.
            </p>
        </li>
        <li>
            <p>
                Data modeling: Power BI includes a data modeling engine that allows users to create relationships
                between different data sources and transform and shape their data before visualizing it.
            </p>
        </li>

        <li>
            <p>
                Data connectivity: Power BI supports connectivity to a wide range of data sources, including Microsoft
                Excel spreadsheets, cloud-based services like Azure SQL Database and Google Analytics, and many other
                third-party sources.
            </p>
        </li>

        <li>
            <p>
                Collaboration: Power BI allows users to share their reports and dashboards with others in their
                organization, and collaborate on them in real-time.
            </p>
        </li>

        <li>
            <p>
                Mobile support: Power BI includes mobile apps for iOS and Android devices, allowing users to access and
                interact with their reports and dashboards from anywhere.
            </p>
        </li>
    </ol>

    <h3>About Course</h3>

    <table class="mat-elevation-z8 table demo-table">
        <thead>
            <th>
                Topic
            </th>
            <th>
                Areas Covered
            </th>
        </thead>
        <tbody>
            <tr>
                <td rowspan="9">Introduction to Power BI</td>
                <td>Business Intelligence</td>
            </tr>
            <tr>
                <td>Self Service Business Intelligence</td>
            </tr>
            <tr>
                <td>What is Power BI</td>
            </tr>
            <tr>
                <td>Why Power BI?</td>
            </tr>
            <tr>
                <td>Key Benefits of Power BI</td>
            </tr>
            <tr>
                <td>Flow of Power BI</td>
            </tr>
            <tr>
                <td>Components of Power BI</td>
            </tr>
            <tr>
                <td>Architecture of Power BI</td>
            </tr>
            <tr>
                <td>Building Blocks of Power BI</td>
            </tr>
            <tr>
                <td rowspan="11">Power BI Desktop and Data Transformation</td>
                <td>Overview of Power BI Desktop</td>
            </tr>
            <tr>
                <td>Data Sources in Power BI Desktop</td>
            </tr>
            <tr>
                <td>Connecting to a data Sources Query Editor in Power BI</td>
            </tr>
            <tr>
                <td>Query Ribbon</td>
            </tr>
            <tr>
                <td>Clean and transform your data with Query Editor</td>
            </tr>
            <tr>
                <td>Combining Data – Merging and Appending Cleaning irregularly formatted data</td>
            </tr>
            <tr>
                <td>Views in Power BI Desktop Modelling Data</td>
            </tr>
            <tr>
                <td>Manage Data Relationship</td>
            </tr>
            <tr>
                <td>Automatic Relationship Updates Template Apps</td>
            </tr>
            <tr>
                <td>Cross Filter Direction</td>
            </tr>
            <tr>
                <td>Create calculated tables and measures Optimizing Data Models</td>
            </tr>
            <tr>
                <td rowspan="3">Data Analysis Expressions (DAX)</td>
                <td>DAX | Measures | Calculated Values</td>
            </tr>
            <tr>
                <td>DAX will include complex functions like<br />
                    Calculate, SUM, SUMX, RELATED, ALLEXCEPT, CONCATENATE,<br />
                    LOOKUPVALUE, IF, SEARCH, DATEADD, DIVIDE, and many more.</td>
            </tr>
            <tr>
                <td>Dynamic Tables Creation</td>
            </tr>
            <tr>
                <td rowspan="7">Introduction to Power BI Service,<br />Q&A and Quick Insights</td>
                <td>Introduction to Power BI Service </td>
            </tr>

            <tr>
                <td>Introduction to using workspaces Dashboard vs. Reports</td>
            </tr>
            <tr>
                <td>Quick Insights in Power BI Creating Dashboards</td>
            </tr>
            <tr>
                <td>Configuring a Dashboard & Power BI Q&A</td>
            </tr>
            <tr>
                <td>Paginated Reports</td>
            </tr>
            <tr>
                <td>Row level Security Data</td>
            </tr>
            <tr>
                <td>Gateways Scheduled Refresh</td>
            </tr>
        </tbody>
    </table>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>