<section class="body">
    <h2 class="header" mat-dialog-title>SQL</h2>
    <h3 mat-dialog-title>Duration : 20 Classes</h3>
    <p>
        SQL (Structured Query Language) is a standardized programming language used for managing and manipulating
        relational databases. It enables users to store, retrieve, update, and delete data from databases. SQL allows
        for efficient and precise querying, defining database structure, and performing various operations, such as
        joins and aggregations.</p>

    <h3>Some key features:</h3>
    <ol>
        <li>
            <p>Data Manipulation: SQL provides a set of commands for manipulating data in relational databases. These
                include SELECT for retrieving data, INSERT for inserting new records, UPDATE for modifying existing
                records, and DELETE for removing records.</p>
        </li>
        <li>
            <p>Data Definition: SQL allows users to define and modify the structure of databases. It includes commands
                such as CREATE TABLE for creating new tables, ALTER TABLE for modifying table structure, and DROP TABLE
                for deleting tables.</p>
        </li>
        <li>
            <p>Querying and Filtering: SQL offers a rich set of capabilities for querying and filtering data. The SELECT
                statement allows users to specify conditions, apply sorting and grouping, and perform calculations and
                aggregations on data using functions like SUM, AVG, COUNT, and more.</p>
        </li>
        <li>
            <p>Joins: SQL supports various types of joins to combine data from multiple tables based on common columns.
                Joins enable users to retrieve data from related tables, allowing for complex and flexible data
                retrieval.</p>
        </li>
        <li>
            <p>Data Integrity and Constraints: SQL allows the definition of integrity constraints on database tables to
                enforce data consistency. Constraints such as primary keys, foreign keys, unique keys, and check
                constraints ensure the accuracy and integrity of data.</p>
        </li>
        <li>
            <p>Transaction Management: SQL supports transaction management, allowing users to group multiple database
                operations into a single logical unit. Transactions ensure the atomicity, consistency, isolation, and
                durability (ACID) properties of database operations.</p>
        </li>
        <li>
            <p>Security and Access Control: SQL provides mechanisms for controlling access to databases and securing
                data. It allows users to define user accounts, assign privileges, and manage authentication and
                authorization.</p>
        </li>
        <li>
            <p>Views and Stored Procedures: SQL allows the creation of views, which are virtual tables based on the
                result of a query. Views simplify complex queries and provide an additional layer of abstraction. SQL
                also supports the creation of stored procedures, which are pre-compiled database programs that can be
                executed repeatedly.</p>
        </li>
        <li>
            <p>Indexing and Optimization: SQL databases offer indexing mechanisms to improve query performance. Indexes
                allow for faster data retrieval by creating efficient data structures. SQL also provides optimization
                techniques, such as query optimization, to enhance the efficiency of query execution.</p>
        </li>
        <li>
            <p>Portability and Standardization: SQL is a standardized language, which means that SQL code written for
                one database system is often compatible with other database systems. This portability allows developers
                to work with different database systems without major modifications to their SQL code.</p>
        </li>
    </ol>

    <h3>About Course</h3>

    <table class="waffle no-grid" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th  class="column-headers-background">TOPIC</th>
                <th  class="column-headers-background">DESCRIPTION</th>
            </tr>
        </thead>
        <tbody>
            <tr style="height: 19px">
                <td class="s1" dir="ltr">What is database ?</td>
                <td class="s1" dir="ltr">A database is a systematic collection of data. <br>In computing, a database is
                    an organized collection of data stored and accessed electronically from a computer system<br>They
                    support electronic storage and manipulation of data. <br>software, that handles the storage,
                    retrieval, and updating of data in a computer system</td>
            </tr>
            <tr style="height: 19px">
                <td class="s1" dir="ltr"></td>
                <td class="s1" dir="ltr">column, row, table, database</td>
            </tr>
            <tr style="height: 19px">
                <td class="s1" dir="ltr">Introduction</td>
                <td class="s1" dir="ltr">About Postgresql</td>
            </tr>
            <tr style="height: 19px">
                <td class="s2" dir="ltr">DATA TYPES</td>
                <td class="s2" dir="ltr">boolean, smallint , int , bigint, numric, money, time, date, timestamp,
                    timestamptz, json, jsonb, array, uuid, citext,cursor,bytea, image</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">DDL</td>
                <td class="s1" dir="ltr">create, alter, drop , truncte, rename </td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">DML</td>
                <td class="s1" dir="ltr">insert, update, delete,<span style="font-weight:normal;"> upsert and set
                        search_path</span></td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">DQL/DRL</td>
                <td class="s1" dir="ltr">SELECT, SELECT * INTO, create table table_name as select * from tbl</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">DCL</td>
                <td class="s2" dir="ltr">create role, grant, revoke -- Postgresql User management</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">TCL</td>
                <td class="s2" dir="ltr">commit, rollback &amp; savepoint</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">LOGICAL AND WILD CARD OPERATORS</td>
                <td class="s1" dir="ltr">or, and, between, underscore, percentage, like and ilike, ~ ( tild )</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">Create Schema &amp; Database</td>
                <td class="s1" dir="ltr">create schema &amp; database</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">CONSTRAINT</td>
                <td class="s1" dir="ltr">PRIMARY, FOREIGN, UNIQUE, CHECK, NOT NULL <span style="font-weight:normal;">AND
                        DEFAULT</span></td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">KEYS</td>
                <td class="s1" dir="ltr">PRIMARY KEY, FOREIGN KEY, UNIQUE KEY</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">Unique records</td>
                <td class="s1" dir="ltr">Distinct / Distinct on</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">CLAUSES</td>
                <td class="s1" dir="ltr">SELEC, DISTINCT ,FROM, WHERE, GROUP BY, HAVING, ORDER BY, LIMIT</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">Auto - increment</td>
                <td class="s1" dir="ltr">Serial vs Identity</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">CONVERSION FUNCTIONS</td>
                <td class="s1" dir="ltr">cast, ::</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">NULLABLE FUNCTIONS</td>
                <td class="s1" dir="ltr">coalesce, nullif, -- isnull</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">SET OPERATORS</td>
                <td class="s1" dir="ltr">UNION, UNION ALL, INTERSECT AND EXCEPT</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1 softmerge" dir="ltr">
                    <div class="softmerge-inner" style="width:298px;left:-1px">SYSTEM FUNCTIONS/PRE-DEFINED FUNCTIONS
                    </div>
                </td>
                <td class="s1" dir="ltr">STRING,DATETIME,MATHEMATICAL,AGGREGATE, Others</td>
            </tr>
            <tr style="height: 19px">
               
                <td class="s1 softmerge" dir="ltr">
                    <div class="softmerge-inner" style="width:298px;left:-1px">WINDOWS FUNCTION/RANKING FUNCTIONS</div>
                </td>
                <td class="s3 softmerge" dir="ltr">
                    <div class="softmerge-inner" style="width:1494px;left:-1px">ROW_NUMBER, RANK, DENSE_RANK, NTILE,
                        LAG, LEAD AND OVER CLAUSES,FIRST_VALUE, LAST_VALUE, GROUPING, GROUPING SET,GROUPING ID ,cube and
                        rollup<br> -- <span
                            style="text-decoration:underline;-webkit-text-decoration-skip:none;text-decoration-skip-ink:none;color:#1155cc;"><a
                                target="_blank"
                                href="https://www.enterprisedb.com/postgres-tutorials/how-use-grouping-sets-cube-and-rollup-postgresql">https://www.enterprisedb.com/postgres-tutorials/how-use-grouping-sets-cube-and-rollup-postgresql</a></span>,percent_rank,
                        cume_dist<br>https://www.postgresqltutorial.com/postgresql-window-function/#:~:text=PostgreSQL%20window%20function%20List%20%20%20%20Name,row%20that%20...%20%207%20more%20rows%20
                    </div>
                </td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">CONDITIONAL STATEMENTS</td>
                <td class="s1" dir="ltr">CONDITIONAL STATEMENTS ( if , if else, if elsif elsif .. end if, while,
                    continue, exit )</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr"></td>
                <td class="s2" dir="ltr"></td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">JOINS</td>
                <td class="s1" dir="ltr">INNER JOIN ,LEFT OUTER JOIN ,RIGHT OUTER JOIN, FULL OUTER JOIN, SELF JOIN AND
                    CROSS JOIN,<span style="font-weight:normal;"> USING, natural join</span></td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">TYPES OF QUERIES</td>
                <td class="s1" dir="ltr">QUERY, INLINE QUERY, SUB QUERY AND CORRELATED SUB QUERY</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">JSONS</td>
                <td class="s2" dir="ltr">Json, Jsonb, array</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">TABLES</td>
                <td class="s1" dir="ltr">Different type of tables ( normal and temp tables )</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s1" dir="ltr">USER DEFINED FUNCTIONS</td>
                <td class="s1" dir="ltr">without parameter, with parameter, optional parameter/ default parameter, in,
                    out, inout, variadic</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">STORE PROCEDURES</td>
                <td class="s2" dir="ltr">without parameter, with parameter, optional parameter, default parameter</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2 softmerge" dir="ltr">
                    <div class="softmerge-inner" style="width:298px;left:-1px">OFF SET AND PAGINATION/ Normal pagination
                    </div>
                </td>
                <td class="s2" dir="ltr">limit, offset ,fetch, next , rows</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">CURSORS</td>
                <td class="s2" dir="ltr">CURSOR, REF CURSOR</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">CTE</td>
                <td class="s2" dir="ltr">NORMAL CTE, NESTED CTE, RECURSIVE CTE</td>
            </tr>
            <tr style="height: 19px">
               
                <td class="s4" dir="ltr">CTE</td>
                <td class="s4" dir="ltr">delete duplicate by uisng cte</td>
            </tr>
            <tr style="height: 19px">
               
                <td class="s1" dir="ltr">VIEW</td>
                <td class="s1" dir="ltr">SIMPLE VIEW, COMPLEX VIEW, CHECK OPTION VIEW, MATERIALIZED VIEW</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">INDEXES</td>
                <td class="s2" dir="ltr">B-tree indexes,Hash indexes,GIN indexes,BRIN,GIST,SP-GiST Indexes</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">PERFORMANCE TUNNIG TIPS</td>
                <td class="s2" dir="ltr">In Vs Exists, not in vs not exists...etc</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">DYNAMIC SQL</td>
                <td class="s2" dir="ltr">execute</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">GENERATE SCRIPTS</td>
                <td class="s2" dir="ltr">Execute</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">Triggers and trigger functions</td>
                <td class="s2" dir="ltr">Table, Audit Table, Trigger function &amp; trigger ( after/before, instead of )
                </td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">Master child data delete</td>
                <td class="s2" dir="ltr">on delete set null, on delete cascade, on delete set default</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">NORMALIZATION VS DENORMALIZATION</td>
                <td class="s2" dir="ltr">1st nf, 2nd nf, 3rd nf, 4th and 5th normal forms</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">Datawarehous Concepts</td>
                <td class="s2" dir="ltr">Dimension, facts, aggregate and views -- Start, snowflak</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">Pivot vs Unpiovt</td>
                <td class="s2" dir="ltr">tablefunc</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">different types of extensions</td>
                <td class="s2" dir="ltr">dblink, postgres_fdw, tablefunc, citext, &quot;uuid-ossp&quot;</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">dblink and foreign data wrapper</td>
                <td class="s2" dir="ltr">dblink &amp; postgres_fdw</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">code deployment process</td>
                <td class="s2" dir="ltr">software development life cycle</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2 softmerge" dir="ltr">
                    <div class="softmerge-inner" style="width:298px;left:-1px">aws account create and launch postgresql
                        server</div>
                </td>
                <td class="s5" dir="ltr">AWS</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">ER Diagrams</td>
                <td class="s2" dir="ltr">Go to db -&gt; right click and generate ERD </td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">Import/Export</td>
                <td class="s2" dir="ltr">import into database &amp; export into csv files, backup and restore by pgadmin
                </td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">Types as enum</td>
                <td class="s2" dir="ltr">enum type = constraint</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s2" dir="ltr">Postgres vs SQL server/ssms/mssql </td>
                <td class="s4"></td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s5" dir="ltr">Join with update</td>
                <td class="s5" dir="ltr">where</td>
            </tr>
            <tr style="height: 19px">
                
                <td class="s5" dir="ltr">Join with delete</td>
                <td class="s5" dir="ltr">using</td>
            </tr>
        </tbody>
    </table>
</section>