<section class="body">
    <p style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:normal; font-size:18pt">
        <strong><span class="tag-line">The AZ-305: Azure Solutions Architect Expert</span></strong>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:10.5pt">
        <span class="tag-line">Duration: 35 Classes</span>
    </p>
    <p style="margin-top:0pt; margin-bottom:0pt; line-height:normal; font-size:10.5pt">
        <span class="tag-line">The AZ-305: Azure Solutions Architect Expert course is for students that are becoming
            subject matter experts in designing cloud and hybrid solutions that run on Microsoft Azure, including
            compute, network, storage, monitoring, and security.</span>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">Responsibilities for this role include advising stakeholders and translating business
            requirements into designs for secure, scalable, and reliable Azure solutions.</span>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">An Azure solutions architect partners with developers, administrators, and other roles
            responsible for implementing solutions on Azure.</span>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">Course topics include:</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Planning and Assessments</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about Azure Governance and Planning</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Landing Zones</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Assessments</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Governance</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Management Groups</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Managing Multiple Subscriptions</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Resource Groups</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Resource Tagging</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Resource Tagging and Naming Conventions</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement VMs for Windows and Linux</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about Azure virtual machines including planning, creating, availability
            and extensions.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Select Virtual Machine Size</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure High Availability</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Dedicated Hosts</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Deploy and Configure Scale Sets</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Azure Disk Encryption</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Plan for virtual machine implementations.</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create virtual machines.</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure virtual machine availability, including scale sets.</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand High Availability options for VMs in Azure</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Automate Deployment and Configuration of Resources</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about the tools an Azure Administrator uses to manage their
            infrastructure.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Resource Manager Templates</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Save a Template for a VM</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Evaluate Location of New Resources</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure a Virtual Hard Disk Template</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Deploy from a Template</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create and Execute an Automation Runbook</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Leverage Azure Resource Manager to organize resources.</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Use ARM Templates to deploy resources.</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create and Execute an Automation Runbook</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Deploy an Azure VM from a VHD</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand Azure encryption technologies</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement Virtual Networking</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about basic virtual networking concepts like virtual networks and
            subnetting, IP addressing, network security groups, Azure Firewall, and Azure DNS.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Virtual Network Peering</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement VNet Peering</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Connect services with Virtual Network Peering</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure VNet Peering</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Modify or delete VNet Peering</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement Load Balancing and Network Security</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about network traffic strategies including network routing and service
            endpoints, Azure Load Balancer, Azure Application Gateway, and Traffic Manager.</span>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">Lessons</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Load Balancer</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement an Application Gateway</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand Web Application Firewall</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Firewall</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implementing Azure Traffic Manager</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Network Security Groups and Application Security Group</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Bastion</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Select a Load Balancer solution</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Application Gateway</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Firewall</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand Traffic Manager routing methods</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Network Security Groups (NSGs)</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement Storage Accounts</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about basic storage features including storage accounts, blob storage,
            Azure files and File Sync, storage security, and storage tools.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Storage Accounts</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Blob Storage</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Storage Security</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Managing Storage</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Accessing Blobs</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Azure Storage Firewalls and Virtual Networks</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand Storage Account services and types</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Blob storage, accounts, containers, and access tiers</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Shared Access Signatures</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand Azure Storage firewalls and virtual networks</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement Azure Active Directory</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn how to secure identities with Azure Active Directory, and implement users
            and groups.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Overview of Azure Active Directory</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Users and Groups</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Domains and Custom Domains</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure AD Identity Protection</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Conditional Access</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Fraud Alerts for MFA</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Trusted IPs</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Guest Users in Azure AD</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Add Guest Users to Azure AD</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Location Condition Configuration</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Azure MFA settings</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Conditional Access Azure MFA</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement and Manage Azure Governance</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about managing your subscriptions and accounts, implementing Azure
            policies, and using Role-Based Access Control.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create Management Groups, Subscriptions, and Resource Groups</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Overview of Role-Based Access Control (RBAC)</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Role-Based Access Control (RBAC) Roles</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure AD Access Reviews</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement and Configure an Azure Policy</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Blueprints</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand Resource Groups</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand how RBAC works</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create an Azure AD access review</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create and manage policies to enforce compliance</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create a Blueprint</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement and Manage Hybrid Identities</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn how to install and configure Azure AD Connect and implement Azure AD
            Connect Health.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Install and Configure Azure AD Connect</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Password Sync and Password Writeback</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Azure AD Connect Health</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure AD seamless Single Sign-On</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Perform an Azure AD Connect installation</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure AD Connect Health</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Manage Workloads in Azure</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn how to perform Azure Backup and Azure Site Recovery.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Backup</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure to Azure Site Recovery</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Update Management</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand Azure VM backup architecture</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Manage updates and patches for Azure VMs</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement Cloud Infrastructure Monitoring</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about Azure Monitor, Azure Workbooks, Azure Alerts, Network Watcher, Azure
            Service Health, Azure Application Insights.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Infrastructure Security Monitoring</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Monitor</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Workbooks</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Alerts</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Log Analytics</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Network Watcher</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Service Health</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Monitor Azure Costs</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Application Insights</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Unified Monitoring in Azure</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Manage Security for Applications</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about Azure Key Vault and implementing authentication using Azure Managed
            Identities.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Key Vault</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Managed Identity</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Explain Key Vault uses such as secrets, key, and Certificate
                management</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Use Managed Identities with Azure resources</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement an Application Infrastructure</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn how to create an App Service web App for Containers, create and configure
            an App Service Plan, and create and manage Deployment Slots.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create and Configure Azure App Service</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create an App Service Web App for Containers</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create and Configure an App Service Plan</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Networking for an App Service</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create and Manage Deployment Slots</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Logic Apps</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure Functions</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">After completing this module, students will be able to:</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure an Azure App Service</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create an App Service Plan</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create a Workflow using Azure Logic Apps</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create a Function App</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement Container-Based Applications</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn how to run Azure Container instances and how to deploy Kubernetes with
            AKS.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Azure Container Instances</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Azure Kubernetes Service</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Run Azure Container instances</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Deploy Kubernetes with AKS</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement NoSQL Databases</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will learn about Azure CosmsoDB.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure CosmosDB APIs</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand options for Azure Cosmos DB</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Understand high availability using CosmosDB</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Implement Azure SQL Databases</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will create an Azure SQL Database single database, create an Azure SQL Database
            Managed Instance, and review high-availability and Azure SQL database.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Configure Azure SQL Database Settings</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Implement Azure SQL Database Managed Instances</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">High-Availability and Azure SQL Database</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to:</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create an Azure SQL Database single database</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Create an Azure SQL Database Managed Instance</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Recommend high-availability architectural models used in Azure SQL
                Database</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">&#xa0;</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Plan an Azure Migration</span></strong>
    </p>
    <p class="tag-line-container">
        <span class="tag-line">You will review the cloud adoption framework, plan a checklist for Azure
            migrations.</span><span class="tag-line">&#xa0;</span><span class="tag-line"> You will discover the
            migration tools available and which is best suited for specific migration tasks.</span>
    </p>
    <p class="tag-line-container">
        <strong><span class="tag-line">Lessons</span></strong>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Review the cloud adoption framework checklist</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Initial decisions checklist</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Determining your migration strategy</span>
        </li>
        <li class="li-tag-line">
            <span class="li-span-tag-line">Determining what to migrate and Migration tools</span>
        </li>
    </ul>
    <p class="tag-line-container">
        <span class="tag-line">After completing this module, students will be able to</span>
    </p>
    <ul type="disc" class="ul-tag-line">
        <li class="li-tag-line">
            <span class="li-span-tag-line">Use Microsoft tools to assist in Azure migrations</span>
        </li>
    </ul>
</section>