.header{
    height: 15vh;
}
.main-section{
    min-height: 75vh;
}

.footer{
    height: 10vh;
}

::ng-deep {
    @media screen and (max-width: 450px) {
        .header{
            height: auto !important;
        }
    }
}