<section class="body">
    <h2 class="header" mat-dialog-title>DevOps using AWS</h2>
    <h3 mat-dialog-title>Duration : 30 Classes</h3>
    <p>
        DevOps using AWS involves leveraging AWS services and tools to implement and automate the processes of software
        development, testing, deployment, and operations. It emphasizes collaboration, continuous integration, delivery,
        and monitoring to accelerate software delivery, increase agility, and ensure reliable and scalable
        infrastructure on the AWS cloud.</p>

    <h3>Some key features:</h3>
    <ol>
        <li>
            <p>Scalability: AWS provides the ability to scale computing resources up or down based on demand, allowing
                businesses to handle fluctuating workloads efficiently and cost-effectively.</p>
        </li>
        <li>
            <p>Elasticity: AWS enables automatic scaling of resources, ensuring that applications can handle varying
                levels of traffic without manual intervention and avoiding unnecessary resource provisioning.</p>
        </li>
        <li>
            <p>Reliability: AWS offers a highly reliable infrastructure with built-in redundancies and data replication
                across multiple availability zones, minimizing downtime and ensuring high availability of services.</p>
        </li>
        <li>
            <p>Security: AWS provides robust security measures, including data encryption, identity and access
                management, network firewalls, and compliance certifications, to protect data and infrastructure.</p>
        </li>
        <li>
            <p>Flexibility: AWS offers a wide range of services and configurations, allowing businesses to choose the
                most suitable options for their specific needs, whether it's computing power, storage, databases,
                networking, or analytics.</p>
        </li>
        <li>
            <p>Cost-effectiveness: AWS follows a pay-as-you-go pricing model, where businesses only pay for the
                resources they consume, eliminating the need for upfront investments in hardware and infrastructure.</p>
        </li>
        <li>
            <p>Global Infrastructure: AWS operates a vast global network of data centers across multiple regions,
                enabling businesses to deploy applications closer to their end-users for reduced latency and improved
                performance.</p>
        </li>
        <li>
            <p>Management and Monitoring: AWS provides a suite of management tools and services, including AWS
                Management Console, CloudWatch, and AWS Systems Manager, for efficient resource management, monitoring,
                and troubleshooting.</p>
        </li>
        <li>
            <p>Automation: AWS offers various automation tools like AWS CloudFormation, AWS Lambda, and AWS Elastic
                Beanstalk, allowing businesses to automate the provisioning, configuration, and deployment of resources
                and applications.</p>
        </li>
        <li>
            <p>Integration and Ecosystem: AWS integrates with a wide range of third-party services and tools, making it
                easier to build comprehensive solutions and leverage existing technologies within the AWS ecosystem.</p>
        </li>
    </ol>

    <h3>About Course</h3>

    <table class="mat-elevation-z8 table demo-table">
        <thead>
            <th>
                Topic
            </th>
            <th>
                Areas Covered
            </th>
        </thead>
        <tbody>
            <tr>
                <td>Introduction to Power Apps</td>
                <td>
                    <ul class="">
                        <li>Overview of Power Apps and its capabilities</li>
                        <li>Understanding the Power Apps environment and interface</li>
                        <li>Exploring different types of Power Apps (canvas apps, model-driven apps)</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td rowspan="1">Building Canvas Apps</td>
                <td>
                    <ul>
                        <li>Creating a new canvas app from scratch</li>
                        <li>Understanding the basic elements of a canvas app (screens, controls, data sources)</li>
                        <li>Designing the user interface using various controls (text inputs, buttons, galleries, forms)
                        </li>
                        <li>Working with data sources (connecting to SharePoint, Excel, Common Data Service)</li>
                        <li>Implementing data validation and error handling</li>
                        <li>Adding functionality with formulas and expressions (using Power Apps formula language)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Building Model-Driven Apps</td>
                <td>
                    <ul>
                        <li>Introduction to model-driven apps and their components (entities, forms, views)</li>
                        <li>Creating a model-driven app using Power Apps Studio</li>
                        <li>Designing custom entities and attributes</li>
                        <li>Configuring forms and views for data entry and visualization</li>
                        <li>Implementing business rules and workflows</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Integrating Power Apps with other Microsoft 365 Services</td>
                <td>
                    <ul>
                        <li>Connecting Power Apps to SharePoint Online and OneDrive</li>
                        <li>Using Power Apps in Microsoft Teams</li>
                        <li>Leveraging Power Automate (formerly Microsoft Flow) for automation and workflows</li>
                        <li>Integrating Power Apps with Power BI for data visualization and reporting</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Advanced Topics</td>
                <td>
                    <ul>
                        <li>Implementing security and role-based access control</li>
                        <li>Extending Power Apps with custom connectors and APIs</li>
                        <li>Introduction to Power Apps Portals for external user access</li>
                        <li>Exploring AI Builder for adding intelligence to Power Apps</li>
                        <li>Optimizing app performance and troubleshooting common issues</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Best Practices and Tips</td>
                <td>
                    <ul>
                        <li>Design considerations for user-friendly apps</li>
                        <li>Performance optimization techniques</li>
                        <li>Version control and deployment strategies</li>
                        <li>Testing and debugging Power Apps</li>
                        <li>Resources for ongoing learning and community support</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</section>