<section class="body">
    <h2 class="header" mat-dialog-title>Snowflake</h2>
    <h3 mat-dialog-title>Duration : 20-25 Classes</h3>
    <p>
        Snowflake is an insanely cool next generation SaaS (Software As A Service) data warehousing solution that
        operates in the cloud!</p>
    <p>
        Engineered from the ground up, Snowflake takes advantage of the elasticity that the cloud provides – and is
        truly revolutionary in every aspect.
    </p>
    <p>
        Harnessing the power of the cloud, Snowflake has unique capabilities in the form of unlimited and instant
        scalability, making it perhaps the ultimate data warehouse solution. Cloud elasticity is very much at the heart
        of Snowflake – making its unique architecture and value proposition difficult to compete with in the market.</p>
    <p>
        From an end user perspective, Snowflake is incredibly appealing. Building data warehouses and petabyte data
        scaled solutions without having to worry about on-prem compute and storage issues means your focus remains
        solely on the data itself and even more importantly, the analytics you derive from</p>
    
    <h3>Intended Audience</h3>
    <p>Anyone interested in learning about Snowflake, and the benefits of using it to build a data warehouse in the cloud</p>

    <h3>Prerequisites</h3>

    <p>To get the most from this course, it would help to have a basic understanding of:</p>
    <ul>
        <li>Basic SQL knowledge</li>
        <li>Basic Data Warehousing Knowledge.</li>
    </ul>
        
    <h3>Some key features:</h3>
    <ol>
        <li>
            <p> <b>Data Sharing:</b> Snowflake allows easy and secure data sharing across organizations, enabling
                collaboration and data monetization without the need for data movement.</p>
        </li>
        <li>
            <p><b>Multi-cluster architecture:</b> Its multi-cluster architecture enables automatic scaling, ensuring
                consistent performance even with varying workloads.</p>
        </li>
        <li>
            <p><b>Separation of compute and storage:</b> Snowflake's unique architecture separates storage and compute
                resources, allowing users to scale each independently for cost-effectiveness.</p>
        </li>
        <li>
            <p><b>Near-Zero Maintenance:</b> As a fully managed service, Snowflake handles all maintenance tasks,
                reducing the burden on IT teams and allowing them to focus on data and analytics.</p>
        </li>
        <li>
            <p><b>Concurrency and Performance:</b> It supports high levels of concurrency, enabling multiple users to
                run complex queries simultaneously without performance degradation.</p>
        </li>
        <li>
            <p><b>Data Security:</b> Snowflake provides robust security features, including data encryption, role-based
                access control, and secure data sharing, ensuring data remains protected.</p>
        </li>
        <li>
            <p><b>Data Integration:</b> It supports seamless integration with various data sources, ETL tools, and BI
                platforms, facilitating easy data movement and analysis.</p>
        </li>
        <li>
            <p><b>Automatic Scaling:</b> Snowflake automatically scales resources based on demand, ensuring optimal
                performance during peak workloads without manual intervention.</p>
        </li>
        <li>
            <p><b>Time Travel:</b> The platform allows users to access historical data versions, enabling easy auditing,
                debugging, and compliance.</p>
        </li>
        <li>
            <p><b>Global Data Replication:</b> Snowflake enables replication of data across multiple regions, ensuring
                high  availability and disaster recovery capabilities.</p>
        </li>
        <li>
            <p><b>Data Governance:</b> It offers comprehensive data governance features, including data lineage,
                metadata management, and compliance controls.</p>
        </li>
        <li>
            <p><b>Semi-Structured Data Support:</b> Snowflake natively supports semi-structured data like JSON, Avro,
                and Parquet, making it easier to handle diverse data formats.</p>
        </li>
    </ol>

    <h3>About Course</h3>

    <table class="mat-elevation-z8 table demo-table">
        <thead>
            <th>
                Topic
            </th>
            <th>
                Areas Covered
            </th>
        </thead>
        <tbody>
            <tr>
                <td>Snowflake General</td>
                <td>
                    <ul class="">
                        <li>Introduction</li>
                        <li>Pricing</li>
                        <li>Snowflake Editions</li>
                        <li>Supported Cloud Platforms</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td rowspan="1">Connected to Snowflake</td>
                <td>
                    <ul>
                        <li>How to create snowflake account</li>
                        <li>Different features in Snowflake.
                        </li>
                        <li>Web interface overview and how to use
                        </li>
                        <li>SnowSql tool introduction and Usage.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Snowflake Architecture</td>
                <td>
                    <ul>
                        <li>Overview</li>
                        <li>Architecture layers – Storage, Query Processing and Cloud Services</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Loading / Unloading Data Into/From Snowflake
                </td>
                <td>
                    <ul>
                        <li> Overview of Data Loading</li>
                        <li>Summary of Data Loading Features</li>
                       <li> Data Loading Considerations</li>
                        <li>Preparing to Load Data</li>
                        <li>Bulk Loading Using COPY</li>
                        <li>Loading Continuously Using Snowpipe</li>
                        <li>Loading Using the Web Interface (Limited)</li>
                        <li>Querying Data in Staged Files</li>
                        <li>Querying Metadata for Staged Files</li>
                        <li>Transforming Data During a Load</li>

                    </ul>
                </td>
            </tr>

            <tr>
                <td>Semi-structured Data — Key concepts and tasks for working with JSON and other types
                </td>
                <td>
                    <ul>
                        <li>Introduction to Semi-structured Data</li>
                        <li>Semi-structured Data Considerations</li>
                        <li>Tutorial: JSON Basics
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Virtual warehouses</td>
                <td>
                    <ul>
                        <li>Overview of Warehouses</li>
                            <li>Multi-cluster Warehouses</li>
                            <li>Warehouse Considerations</li>
                           <li> Working with Warehouses</li>
                            <li>Monitoring Warehouse Load</li>
                            
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Databases, Tables & Views</td>
                <td>
                    <ul>
                        <li>Understanding Snowflake Table Structures</li>
                        <li>Working with Temporary and Transient Tables</li>
                        <li>Working with External Tables</li>
                        <li>Overview of Views</li>
                        <li>Working with Secure Views</li>
                        <li>Working with Materialized Views</li>
                        <li>Table Design Considerations</li>
                        <li>Cloning Considerations</li>
                        <li>Data Storage Considerations</li>

                            
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Timetravel and Fail Safe</td>
                <td>
                    <ul>
                        <li>Understanding & Using Time Travel</li>
                        <li>Understanding & Viewing Fail-safe</li>
                        <li>Storage Costs for Time Travel and Fail-safe</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Sharing Data In Snowflake</td>
                <td>
                    <ul>
                        <li>Introduction to Secure Data Sharing</li>
                       <li> Overview of the Product Offerings for Secure Data Sharing</li>
                        <li>Granting Data Exchange Administrator Privileges to Other Roles</li>
                       <li> Secure Direct Data Share</li>
                       <li> Data Providers</li>
                       <li> Working with Shares</li>
                       <li> Sharing Data from Multiple Databases</li>
                       <li> Sharing Data Securely Across Regions and Cloud Platforms</li>
                       <li> Using Secure Objects to Control Data Access</li>
                       <li> Managing Reader Accounts</li>
                       <li> Configuring a Reader Account</li>
                       <li> Enabling Sharing from a Business-Critical Account to a non-Business Critical Account</li>

                    </ul>
                </td>
            </tr>
            <tr>
                <td>Managing Your Snowflake Account</td>
                <td>
                    <ul>
                        <li>System Defined roles</li>
                        <li>Custom Roles</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Working with Streams and Tasks</td>
                <td>
                    <ul>
                        <li>Introduction to Streams & Types</li>
                        <li>Live example demonstration</li>
                        <li>Introduction to tasks</li>
                        <li>Scheduling Streams through Tasks</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</section>