.courses-container {
    padding: 20px 15% 40px;
    color: #000;
    border: 2px solid #ebeaeb;
    border-width: 1px 0;
}

.courses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    .card {
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 2rem rgb(0 0 0 / 20%)
        }

        margin: 1%;
        flex: 0 0 31.3%;
        box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
        background: #fff;

        &.powerbi,&.snowflake {
            background: #4a154b;
            color: #fff;
            .mat-mdc-card-subtitle {
                color: #fff;
            }

            .mat-mdc-button {
                color: #36c5f0;
            }
        }

        &.devops{
            .mat-mdc-button {
                color: #1d1d1d;
            }

        }

        &.azure, &.sql {
            background: #ecb22e;
            color: #1d1d1d;
            .mat-mdc-card-subtitle,
            .mat-mdc-button {
                color: #1d1d1d;
            }
        }

        &.power-app,&.angular {
            background: #2f8ab7;
            color: #fff;
            .mat-mdc-card-subtitle,
            .mat-mdc-button {
                color: #fff;
            }
        }

        .mat-mdc-card-content {
            font-size: 12px;
        }

        .mat-mdc-card-subtitle {
            font-size: 11px;
        }

        .mdc-button {
            color: #fff;
        }
    }

    .mat-mdc-card-header {
        justify-content: space-between;
        align-items: center;

        .mat-mdc-card-sm-image {
            width: auto;
        }
    }
}

@media screen and (max-width: 450px) {
    .courses-container{
        padding: 20px 5% 20px;
    }
    .courses{
        display: block;
        .card{
            margin-bottom: 20px;
        }
    }
}