<section class="events-container">

    <h2 class="title">
        Up Coming Events
    </h2>

    <div class="event-card">
        <h3 >Power BI Training</h3>
        <h4>by Yoshitha P | 30th April</h4>
        <p>Our Power BI training program provides in-depth instruction on how to use Microsoft's business
            intelligence tool to create powerful data visualizations and reports.<br /> Perfect for beginners or
            experienced users looking to expand their knowledge.
        </p>
        <img src="../../../assets/logos/power-bi-training.png">
        <button mat-button class="btn" (click)="register()">Register</button>
    </div>
</section>