/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #fff;
    background-color: #f4ede4;
}

h2.title{
    margin: 10px 0 10px;
}

.btn {
    height: 30px;
    width: 30px;
    margin: 0 10px;

    &.linkedin {
        background: url('../src/assets/logos/linkedin.svg') center no-repeat transparent;
    }

    &.twitter {
        background: url('../src/assets/logos/twitter.svg') center no-repeat transparent;
    }

    &.email {
        background: url('../src/assets/logos/email.svg') center no-repeat transparent;
    }

}
