<section class="body">
    <h2 class="header" mat-dialog-title>Angular</h2>
    <h3 mat-dialog-title>Duration : 30 Classes</h3>
    <p>
        Angular is a popular JavaScript framework developed by Google for building dynamic web applications. It follows
        the Model-View-Controller (MVC) architectural pattern, provides robust features for data binding and dependency
        injection, and offers a comprehensive set of tools and libraries for efficient development and testing.</p>

    <h3>Some key features:</h3>
    <ol>
        <li>
            <p>
                Two-way data binding: Angular provides a powerful feature called two-way data binding, which allows
                automatic synchronization of data between the model and the view, making it easier to handle user input
                and update the UI in real-time.
            </p>
        </li>
        <li>
            <p>
                Component-based architecture: Angular follows a component-based architecture, where the application is
                built using reusable and independent components. Each component encapsulates its own logic, template,
                and styling, making it easier to maintain and test.
            </p>
        </li>

        <li>
            <p>
                Dependency injection: Angular has built-in dependency injection, which enables efficient management of
                dependencies between different components and services. It promotes modular and scalable application
                development by facilitating the creation and injection of dependencies as needed.
            </p>
        </li>

        <li>
            <p>
                Routing and navigation: Angular provides a powerful routing module that allows developers to define
                routes, handle navigation, and load components based on the URL. It supports nested routes, lazy
                loading, and guards for implementing authentication and authorization.
            </p>
        </li>

        <li>
            <p>
                Testing and tooling support: Angular offers robust testing capabilities with tools like Karma and
                Jasmine. It provides an extensive suite of testing utilities and a testing environment to facilitate
                unit testing, integration testing, and end-to-end testing. Angular CLI (Command Line Interface) provides
                a set of powerful tools for scaffolding, building, and deploying Angular applications.
            </p>
        </li>
    </ol>

    <h3>About Course</h3>

    <table class="mat-elevation-z8 table demo-table">
        <thead>
            <th>
                Topic
            </th>
            <th>
                Areas Covered
            </th>
        </thead>
        <tbody>
            <tr>
                <td >Learning Basic HTML5 and CSS3 and building sample pages for Presentation</td>
                <td>
                    <ol>
                        <li>HTML elements, attributes, images, tables, lists, block & inline, classes, id, forms, web storage</li>
                        <li>CSS global styles/Common styles, CSS selectors, boxmodel, backgrounds, positions, specificity,
                            Flexbox, Media Queries</li>
                        </ol>
                </td>
            </tr>

            <tr>
                <td rowspan="1">JavaScript</td>
                <td>
                    <ol>
                        <li>
                            <p>Introduction to JavaScript</p>
                        </li>
                        <li>
                            <p>Control Flow and Functions</p>
                        </li>
                        <li>
                            <p>Arrays and Objects</p>
                        </li>
                        <li>
                            <p>DOM Manipulation</p>
                        </li>
                        <li>
                            <p>Asynchronous JavaScript</p>
                        </li>
                        <li>
                            <p>Error Handling and Debugging</p>
                        </li>
                        <li>
                            <p>Advanced JavaScript Concepts:</p>
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Angular</td>
                <td>
                    <ol>
                        <li>
                            <p>Introduction to Angular, Angular Architecture</p>
                        </li>
                        <li>
                            <p>Introduction to TypeScript, JavaScript Vs TypeScript</p>
                        </li>
                        <li>
                            <p>Type:Script: intetrfaces, classes, type casting</p>
                        </li>
                        <li>
                            <p>Angular CLI</p>
                        </li>
                        <li>
                            <p>Angular Environment Setup. Project Setup</p>
                        </li>
                        <li>
                            <p>Angular Components and Modules</p>
                        </li>
                        <li>
                            <p>DataBinding , Event binding</p>
                        </li>
                        <li>
                            <p>Templates, Directives, Pipes</p>
                        </li>
                        <li>
                            <p>Routing, Services, HTTPClients</p>
                        </li>
                        <li>
                            <p>Reactive Forms</p>
                        </li>
                        <li>
                            <p>Working with API calls, CURD Operations</p>
                        </li>
                        <li>
                            <p>RxJS: Subjects and Observables</p>
                        </li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</section>